html {
    font-family: 'Segoe UI';
}

body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

header {
    width: 100%;
    height: 130px;
    background-color: #1076b1;
}

h1 {
    margin: 0;
    padding: 25px 15px; 0;
    font-weight: 300;
    color: #fff;
}

h1 > a {
    color: #fff;
    text-decoration: none;
}

h2 {
    color: #1076b1;
}

li {
    display: inline-block;
    width: 33%;
    list-style-type: none;
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="text"] {
    width: 100%;
    height: 32px;
    border: none;
}

label {
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}

button {
    min-width: 100px;
    padding: 10px;
    background-color: #1076b1;
    color: #fff;
    border: none;
}

.container {

}

.row {
    margin: 10px 10px 10px 10px;
}

.stack {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.sub-menu {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
}

.sub-menu > a {
    margin-left: 25px;
    color: #1076b1;
}

.submit {
    margin-top: 25px;
    text-align: center;
}

.vote {
    float: left;
    width: 40px;
    height: 80px;
    margin-left: 25px;
    margin-right: 10px;
    text-align: center;
}

.upvote {
    display: block;
    width: 40px;
    height: 30px;
    background: url("img/upvote.png");
}

.upvote:hover {
    background: url("img/upvote-hover.png");
}

.downvote {
    display: block;
    width: 40px;
    height: 30px;
    background: url("img/downvote.png");
}

.downvote:hover {
    background: url("img/downvote-hover.png");
}

.link {
    padding: 5px;
}