@model CrowdVote.Models.Topic

@{
    ViewBag.Title = "Create topic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <h2>What part of @ViewBag.Category would you like to know more about?</h2>
    <form method="post">
        @Html.ValidationSummary()
        @Html.TextBoxFor(m => m.Title)
        <div class="submit">
            <button type="submit">Request a link</button>
        </div>
    </form>
</div>
