
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sub-menu">
    <a href=@Url.Action("Create", "Topics", new { categoryId = ViewBag.Category })>Post a new link</a>
</div>



