
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sub-menu">
    <a href=@Url.Action("Create", "Links", new { topicId = ViewBag.Topic })>Post a new link</a>
</div>

@foreach (var link in Model.Links)
{

    <li><a href="@link.Url">@link.Title</a></li>
}

