<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CrowdVote</title>
    @Styles.Render("~/Content/Style.css")
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
